:root{
    --background-color-1: #b9f6ca;
    --background-color-2: #76ff03;
    --background-color-3: #00c853;
    --background-color-4: #1b5e20;
    --background-color-5: #00b600;
    --text-color: #ffffff;
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("Poppins-Medium.ttf") format("truetype");
}

body {
    background-color: #393939;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Poppins-Medium;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    color: var(--text-color);
    margin: 30px;
}

section#creeper{
    display: grid;
    grid-template-columns: repeat(8, 80px);
}

section#creeper>div{
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    background-color: #292929;
}

section#creeper>div>div{
    background-color: var(--background-color-5);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all cubic-bezier(0,0,0,40) 2s;
    transform: scale(0,0);
}

section#creeper>div:hover>div{
    transform: scale(1,1);
}

section#creeper>div:nth-child(1n+2)>div{
    background-color: var(--background-color-2);
}

section#creeper>div:nth-child(2n+2)>div{
    background-color: var(--background-color-3);
}

section#creeper>div:nth-child(3n+3)>div{
    background-color: var(--background-color-4);
}

section#creeper>div:nth-child(4n+6)>div{
    background-color: var(--background-color-1);
}

.black{
    background-color: black !important;
}